{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {% if user.firstname %}
        {% set name = user.firstname~' '~user.lastname %}
    {% else %}
        {% set name = user.username %}
    {% endif %}
    {% autoescape false %}
        {{ 'registration.email.subject'|trans({'%username%': name}) }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
        Bonjour, votre inscription a bien été enregistrée.
        Après réception du règlement, vous recevrez un nouvel e-mail vous invitant à initialiser votre mot de passe.
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    <section id="main" class="wrapper">
        <div class="container">
            <p>
                Bonjour, votre inscription a bien été enregistrée.
                Après réception du règlement, vous recevrez un nouvel e-mail vous invitant à initialiser votre mot de passe.
            </p>
            <div style="margin: auto">
            <img src="{{ absolute_url(asset('ehs/images/ehs.png')) }}" alt="logo ehs" style="max-width: 400px">
            </div>
        </div>
    </section>
{% endblock %}
