@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';


#flash-messages {
  font-size: x-large;
  top: 150px;
  position: fixed;
  z-index: 10000;

  span {
    margin: -20px 5px -20px;
    font-size: 1.60em;
  }
}

.bg-info {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
}